body {background-color:pink
 


}
 <style>
            button {
                background:lightblue;
                border:none;
                font-size:30px;
                color:white;
                box-shadow:2px 2px 0 blue;
                border-radius:0.25em;
            }
            #sketch {
                max-width:720px;
                margin: 0 auto;
                position:relative;
            }
        </style